@inherits BasePage
<div class="index">
    <div class="welcome container">
        <div class="form-inline">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="welcome-header">
                        <h4>
                            宿舍学生及访客管理系统，是<code>
                                一个集成了查询与申请的多功能管理系统
                            </code>
                        </h4>
                        <div>
                            <p>通过本宿舍管理系统，任何人可以实现<code>简单却全面的</code>的宿舍管理。本系统的主要功能有：用户管理、进入\外出申请或审批和信息数据图形化展示。让我们一起来体验一下吧！</p>
                            <p>
                                <code>_Admin：</code>这里是对权限的管理。你可以在这里管理所有在系统中注册了的用户信息及权限；将用户设定为某角色，通过角色管理一批相似用户的权限；你还可以管理展示出来的菜单、数据、日志等
                            </p>
                            
                        </div>

                    </div>

                </div>
                <div class="col-12 col-lg-6">
                    <div class="welcome-header">
                        
                        <p>
                            <code>Summary：</code>这里是数据的图形展示页面。在这里，你可以直观地查看关于宿舍的一些数据。
                        </p>
                        <p>
                            <code>Basic Data：</code>这里是信息的管理页。你可以修改学生、老师、租户等的基本信息；可以安排宿舍的床位；申请或审批请假或进入的申请。
                        </p>
                        <h4>
                            我们的信息：
                        </h4>
                        <p>
                            github仓库网址:
                            <a href="https://github.com/WHU-awesomeCS/DMS-Legend" target="_blank" type="primary">https://github.com/WHU-awesomeCS/DMS-Legend</a>
                        </p>
                        <p>
                            宿舍管理系统：C#大作业项目
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-inline">
            <div class="row">
                <div class="col-12">
                    <div class="welcome-footer">
                        <div class="d-flex flex-wrap q-link">
                            <div>
                                <a target="_self" href="/_Admin/FrameworkRole" :underline="false">
                                    <i class="fa fa-clipboard fa-3"></i>
                                    <p class="link-ctx">角色</p>
                                </a>
                            </div>
                            <div>
                                <a target="_self" href="/_Admin/FrameworkMenu" :underline="false">
                                    <i class="fa fa-bars fa-3"></i>
                                    <p class="link-ctx">菜单</p>
                                </a>
                            </div>
                            <div>
                                <a target="_self" href="/_Admin/FrameworkGroup" :underline="false">
                                    <i class="fa fa-users fa-3"></i>
                                    <p class="link-ctx">用户组</p>
                                </a>
                            </div>
                            <div>
                                <a target="_self" href="/_Admin/DataPrivilege" :underline="false">
                                    <i class="fa fa-shield fa-3"></i>
                                    <p class="link-ctx">数据权限</p>
                                </a>
                            </div>
                            <div>
                                <a target="_self" href="/_Admin/ActionLog" :underline="false">
                                    <i class="fa fa-database fa-3"></i>
                                    <p class="link-ctx">日志</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro container">
        <div class="form-inline">
            <div class="row">
                
                <div class="form-group col-12 col-sm-6 col-md-4">
                    <div class="card border-danger">
                        <p class="d-none d-sm-block">
                            <i class="fa fa-calendar"></i>
                        </p>
                        <h3>_Admin</h3>
                        <div>
                            <div class="form-inline">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex flex-wrap" style=" justify-content: space-around;">
                                            <div class="badge-widget">
                                                <i class="fa fa-star"></i>用户管理
                                            </div>
                                            <div class="badge-widget">
                                                <i class="fa fa-star"></i>租户管理
                                            </div>
                                            <div class="badge-widget">
                                                <i class="fa fa-calendar"></i>角色管理
                                            </div>
                                            <div class="badge-widget">
                                                <i class="fa fa-eye"></i>菜单管理
                                            </div>
                                            <div class="badge-widget">
                                                <i class="fa fa-calendar-plus"></i>用户组管理
                                            </div>
                                            <div class="badge-widget">
                                                <i class="fa fa-calendar-alt"></i>数据权限
                                            </div>
                                            <div class="badge-widget">
                                                <i class="fa fa-square-check"></i>日志
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-sm-6 col-md-4">
                    <div class="card border-danger">
                        <p class="d-none d-sm-block">
                            <i class="fa fa-address-book"></i>
                        </p>
                        <h3>Summary</h3>
                        <div>
                            <div class="form-inline">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex flex-wrap" style=" justify-content: space-around;">
                                            <div class="badge-widget">
                                                <i class="fa fa-address-book"></i>宿舍信息展示
                                            </div>
                                            <div class="badge-widget">
                                                <i class="fa fa-address-book"></i>学生安全
                                            </div>
                                            
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-sm-6 col-md-4">
                    <div class="card border-danger">
                        <p class="d-none d-sm-block">
                            <i class="fa fa-calendar"></i>
                        </p>
                        <h3>Basic Data</h3>
                        <div>
                            <div class="form-inline">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="d-flex flex-wrap" style=" justify-content: space-around;">
                                            <div class="badge-widget">
                                                <i class="fa fa-calendar"></i>学生管理列表
                                            </div>
                                            <div class="badge-widget">
                                                <i class="fa fa-calendar"></i>职工管理列表
                                            </div>
                                            <div class="badge-widget">
                                                <i class="fa fa-calendar"></i>宿舍管理列表
                                            </div>
                                            <div class="badge-widget">
                                                <i class="fa fa-calendar"></i>申请管理列表
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    @code {

        [Parameter]
        public Index.githubpoco model { get; set; } = new Index.githubpoco();

   }
